<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="29f09649-b469-4645-8629-46183057047e"
            Publisher="CN=Patricio"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>mono-musica</DisplayName>
    <PublisherDisplayName>Patricio</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="mono_musica.App">
        <VisualElements
            DisplayName="mono-musica"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="mono-musica"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>